

.card {
    width: 320px;
    background-color: tan;
    border: 3px solid black;
    box-shadow: 3px 5px #888888;

}


.card-title {
    padding-left: 10px;
}
.animal-image {
    padding: 5px 10px;
}

.description {
    width: 300px;
    border: 2px solid black;
    margin: 3px 10px 10px 10px;
}

.inner-description {
    margin: 5px 5px;
}

.item-list {
   list-style-type: none;
   padding: 0;
    margin: 0;
}